.App {
  text-align: center;
  background-color: #a55c1b;
background-image: linear-gradient(180deg,#ed7e1a , #a55c1b 0%, #262626 74%);
  min-height: 100vh;
  min-width: 100vh;
  width: 100%;
  height: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

