.App {
  text-align: center;
  background-color: #2e2c27;
  background-image: linear-gradient(180deg, #1c1c1c, #2e2c27, #383838, #474747);
  min-height: 100vh;
  width: 100%;
  height: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

